<a href="https://colab.research.google.com/github/akshitagupta15june/OSASense/blob/main/osasense.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf
tf.test.gpu_device_name()

'/device:GPU:0'

In [2]:
from tensorflow.python.client import device_lib
device_lib.list_local_devices()

[name: "/device:CPU:0"
 device_type: "CPU"
 memory_limit: 268435456
 locality {
 }
 incarnation: 4339071086288115981, name: "/device:GPU:0"
 device_type: "GPU"
 memory_limit: 14674281152
 locality {
   bus_id: 1
   links {
   }
 }
 incarnation: 4248203340825268888
 physical_device_desc: "device: 0, name: Tesla T4, pci bus id: 0000:00:04.0, compute capability: 7.5"]

In [3]:
from tensorflow import keras
import sklearn
import numpy as np
import pandas as pd
from tensorflow.keras.layers import Dense,Dropout,LSTM
from tensorflow.keras.models import Sequential
from google.colab import files

In [4]:
df='sleeep_apnea_data.xlsx'
main_df=pd.read_excel(df,'male')

In [5]:
df=main_df.sample(frac=1).reset_index(drop=True)
df.dropna(inplace=True)

In [6]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [7]:
df.Gender=le.fit_transform(df.Gender)

In [8]:
def fun(num): 
  
    if num<=30: 
        return 0
    else: 
        return 1

In [9]:
df['status']=df.AHI.apply(fun)
status=["negative","positive"]

In [10]:
df

      Gender   BQ   ESS        BMI  ...  Buttock   Age         AHI  status
0          0  0.0   9.0  26.291724  ...     98.0  58.0   30.000000       0
1          1  0.0   8.0  22.183919  ...     96.0  45.0   29.020772       0
2          1  0.0   0.0  24.258674  ...     96.0  38.0   34.859155       1
3          0  0.0   9.0  28.338234  ...    104.0  36.0    1.660000       0
4          1  1.0  12.0  43.598890  ...    129.0  35.0   75.380282       1
...      ...  ...   ...        ...  ...      ...   ...         ...     ...
5240       1  0.0   5.0  25.854639  ...    100.5  39.0   52.784810       1
5241       1  0.0  19.0  26.609713  ...    107.0  56.0   41.079545       1
5242       1  1.0   7.0  32.461911  ...    105.0  43.0   62.107728       1
5243       1  0.0  13.0  30.778701  ...     98.0  35.0  107.491166       1
5244       0  0.0  11.0  20.545694  ...     86.5  38.0   11.830000       0

[5241 rows x 13 columns]